@charset "utf-8";

body
{
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#contents
{
  /*position: absolute;*/
  top: 0;
  left: 0;
  width:  500px;
  height: 500px;
  border: 1px solid grey;
  overflow:hidden;
  background-color: #000;
}

#canvas
{
  margin: 0;
  position: absolute;
  top: 50;
  left: 0;
  width:  500px;
  height: 500px;
}